@font-face {
	font-family: 'Gotham';
	src: url('fonts/Gotham/GothamBook.eot');
	src: url('fonts/Gotham/GothamBook.woff') format('woff'), url('fonts/Gotham/GothamBook.ttf') format('truetype');
}

a {
  font-family: "Gotham",system-ui !important;
}

.header_area.menu_two .main_menu .navbar.navbar-expand-lg .navbar-nav li { 
 font-weight:400;
 font-style:normal;
}

.navbar-right li:first-child {
  margin-right: 5px !important;
  margin-left: 0px !important;
}

.navbar-right li:nth-child(2) {
  margin-right: 10px !important;
  margin-left: 10px !important;  
}

.navbar-right li:nth-child(3) {
  margin-left: 5px !important;
  margin-right:0px;
}

.header_area_bg {
  width: 2440px;
  background: #1d232b;
}

.header_area_bg {
 width: 2440px;
 background: #1d232b;
 position: absolute;
 height: 89px;
 z-index: 9999999;
}